.chess-board {
    display: inline-block;
    border: 2px solid black;
}

.chess-board table {
    border-collapse: collapse;
}

.chess-board td {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

.chess-board td:nth-child(even) {
    background-color: #769656;
}

.chess-board td:nth-child(odd) {
    background-color: #eeeed2;
}

.chess-board td.selected {
    background-color: yellow;
}
