<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chess Game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Chess Game</h1>
    <div id="chess-game">
        <h2>Turn: <span id="turn" th:text="${turn}"></span></h2>
        <div class="chess-board">
            <table id="chess-board">
                <!-- The board will be dynamically rendered here -->
            </table>
        </div>
    </div>

    <!-- Link to the external JavaScript file -->
    <script src="/js/chess.js"></script>
</body>
</html>
